nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--elements-color);
  padding: 2rem 1.5rem;
  color: var(--text-color);
  font-weight: 700;

  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

.toggle-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background: none;
  border: none;
  color: var(--text-color);
}

.moon-icon {
  width: 1.1rem;
}

.toggle__text {
  font-weight: 500;
  font-size: 0.8rem;
}

@media screen and (min-width: 1440px) {
  nav {
    padding: 2rem 4rem;
  }

  .nav-title {
    font-size: 1.5rem;
  }

  .moon-icon {
    width: 2rem;
  }

  .toggle__text {
    font-weight: 500;
    font-size: 1rem;
  }
}
