.home-container {
  padding: 1.5rem 1rem 1rem 1rem;
}

.filtered-searches-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  box-shadow: none;
  background: none;
}

.input-search-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 7px;
  background: var(--elements-color);
  box-shadow: var(--box-shadow);
  transition: outline 0.2s;

  &:focus-within {
    outline: 1px solid var(--text-color);
  }
}

.search-icon {
  color: var(--text-color);
}

.input-search {
  padding: 0.5rem 0.2rem;
  width: 100%;
  background: transparent;
  color: var(--text-color);
  border: none;

  &::placeholder {
    color: var(--text-color);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.clear-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select-container {
  position: relative;
  display: inline-block;

  &:focus-within {
    outline: 1px solid var(--text-color);
    border-radius: 7px;
  }
}

.clear-select-btn {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.select-container select {
  position: relative;
  padding: 1rem;
  width: 12rem;
  background: var(--elements-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  border: none;
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border: none;
  }

  &::-ms-expand {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 0px 4px 4px 0px;
    border-color: var(--text-color);
  }
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 4rem 1rem 4rem 1rem;
  row-gap: 3rem;
  column-gap: 1rem;
}

.country-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: start;
  width: 16rem;
  height: 400px;
  font-family: var(--font-family);
  box-shadow: var(--box-shadow);
  background: var(--elements-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-out;

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow), 0 0 0 1px var(--text-color);
  }
}

.card__title {
  font-size: 1.2rem;
}

.card__texts {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.card__infos {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  font-size: 1rem;
  list-style: none;

  li {
    font-weight: 300;
  }
}

.card__info-title {
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .home-container {
    padding: 3rem 2rem 4rem 2rem;
  }

  .countries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .country-card {
    justify-self: center;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .home-container {
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 2.5rem; */
    padding: 3rem 2.5rem 4rem 2.5rem;
  }

  .countries-container {
    padding-top: 4rem;
  }

  .filtered-searches-container {
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
  }

  .input-search-container {
    width: 20rem;
  }
}

@media screen and (min-width: 860px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .home-container {
    width: 1250px;
  }

  .countries-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 3.5rem 0 4rem 0;
  }
}
