.pagination-container {
  background: transparent;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.page-link {
  text-decoration: none;
  color: var(--text-color);
}

.page-item.active {
  outline: 1px solid var(--text-color);
}
